@font-face {
    font-family: 'itim';
    src: url('itim-regular-webfont.eot');
    src: url('itim-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('itim-regular-webfont.woff2') format('woff2'),
         url('itim-regular-webfont.woff') format('woff'),
         url('itim-regular-webfont.ttf') format('truetype'),
         url('itim-regular-webfont.svg#itimregular') format('svg');
    font-weight: normal;
    font-style: normal;

}